DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgresql://sgcas:change-me@localhost:5434/sgcas
DJANGO_SECRET_KEY=inseguro-apenas-para-desenvolvimento

FRONTEND_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000
LOCAL_STORAGE_PATH=armazenamento

KEYCLOAK_URL=https://sso.tefe.am.gov.br
KEYCLOAK_REALM=prefeitura
KEYCLOAK_CLIENT_ID=sgcas-web
KEYCLOAK_CLIENT_SECRET=troque-pelo-secret-real
KEYCLOAK_REDIRECT_URI=http://localhost:3000/api/auth/keycloak/callback

PII_ENCRYPTION_ENABLED=false
PII_ENCRYPTION_KEY=
PII_HMAC_KEY=

PRECADASTRO_ENABLED=false
PRECADASTRO_CLIENT_ID=
PRECADASTRO_CLIENT_SECRET=
